<%= form_for(@journal_entry) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :recorded_on %>
    <%= f.text_field :recorded_on %>
  </p>
  <p>
    <%= f.label :duration %>
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :starting_quarter %>
    <%= f.text_field :starting_quarter %>
  </p>
  <p>
    <%= f.label :note %>
    <%= f.text_field :note %>
  </p>
  <p>
    <%= label_tag :activity_name, 'Activity' %>
    <%= f.hidden_field :activity_id %>
    <span id='activity_name' ><%=@journal_entry.activity.label %></span><br />
    Change to: <%= text_field_tag :activity_autoselect %>
  </p>

  <p>
    <%= label_tag :tags %>
    <%= text_field_tag :tags %>
  </p>

  <%= f.submit %>
<% end %>
