<% title(@project.name, "Projects") %>
<h2><%= @project.name %></h2>

<%= admins_only do %>
  <%= link_to "Edit Project", edit_project_path(@project) %>
  <%= link_to "Delete Project", project_path(@project), :method => :delete,
  :confirm => "Are you sure you want to delete this project?" %>
<% end %>

<%= authorized?("create tasks".to_sym, @project) do %>
  <%= link_to "New Task", new_project_task_path(@project) %>
<% end %>

<%#= form_tag search_project_tickets_path(@project),
:method => :get do %>
<%#= label_tag "search" %>
<%#= text_field_tag "search", params[:search] %>
<%#= submit_tag "Search" %>
<%# end %>

<%= search_form_for @q, :url=>search_project_tasks_path(@project) do |f| %>
  <%= f.label :title_cont %>
  <%= f.text_field :title_cont %>
  <%= f.label :tags_name_cont %>
  <%= f.text_field :tags_name_cont %>
  <%= f.submit %>
<% end %>

<ul id='tasks'>
  <% @tasks.each do |task| %>
    <li>
      #<%= task.id %> - <%= link_to task.title, [@project, task] %><%= task.tagstring %>
    </li>
  <% end %>
</ul>

